<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <div class="row">
          <h1>  Animals ? </h1>
          <% if (animals.length > 0) { %>
            <div class="spacer30"></div>
            <h3>Current Tasks</h3>
            <table class="table table-bordered">
              <tr>
                <th>name</th>
                <th>color</th>
                <th>species</th>
              </tr>
              <% for (var i = 0; i < animals.length; i++) { %>
                <tr>
                  <td><%= animals[i].name %></td>
                  <td><%= animals[i].color %></td>
                  <td><%= animals[i].species %></td>
                </tr>
              <% } %>
            </table>
          <% } %>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
